<%- include('./partials/header.ejs') %>
<div class="container-fluid">

<div class="form">
  <form action="/movies" method="POST">
     <div class="title">New Movie</div>
     <div class="subtitle">Lets add a New Movie!</div>
     <div class="input-container ic1">
       <input id="title" class="input" type="text" name="title" placeholder=" " />
       <div class="cut"></div>
       <label for="title" class="placeholder">Title</label>
     </div>
     <div class="input-container ic2">
       <input id="description" class="input" type="text" name="description" placeholder=" " />
       <div class="cut"></div>
       <label for="description" class="placeholder">Description</label>
     </div>
     <div class="input-container ic2">
       <input id="img" class="input" type="text" name="img" placeholder=" " />
       <div class="cut cut-short"></div>
       <label for="img" class="placeholder">Paste image URL</>
     </div>
     <div class="input-container ic2">
       <input id="tags" class="input" type="text" name="tags" placeholder=" " />
       <div class="cut cut-short"></div>
       <label for="tags" class="placeholder">Add Tags</>
     </div>
     <div class="input-container ic2">
       <input id="userReviews" class="input" type="text" name="userReviews" placeholder=" " />
       <div class="cut"></div>
       <label for="userReviews" class="placeholder">Leave a Review</label>
       </div>
          <input class="submit" type="submit" value="Create Movie" />

        </form>
   </div>
</div>
