
body{
  background-color: black;
  background-image: url('https://mcdn.wallpapersafari.com/medium/27/37/qN5gKX.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-top: 1px;
margin-left: 30px;
margin-right: 30px;



}

.container-fluid{
  margin-block-start: 5em;
  align-items: flex-start;
display: flex;
justify-content: center;
height: 100vh;
}



nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(0 0 0 / 26%);
  background-color: #1d2e5073;
  position: fixed;
  left: 0;
  top: 0;
  height: 3em;
  z-index: 100;
}

.menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#e8ecede0;
    letter-spacing: 1px;
}
 .menu li a:hover{
    background-color: #242424;
    color:#ffffff;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}

.search{
width:250px;
height: 40px;
background-color: rgba(245,245,245,0.8);
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
padding: 0px 20px;
}

.search input{
width:100%;
height: 30px;
border:none;
outline: none;
background-color: transparent;
}
.search i{
color:#3a3a3a;
}

h1{
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  color: #e8ecede0;
  letter-spacing: 1px;
  justify-content: space-around;
  align-items: flex-end;
  align-content: stretch;
}

h2{
  font-size: 2em;
}

h3{
text-align: center;
}
.showpage{
  background-color: ;
}

ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: scroll;
  text-transform: uppercase;
  font-weight: 500;
  color:##3936689c;
  letter-spacing: 1px;
}
ul a:hover{
   background-color: #242424;
   color:#ffffff;
   box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
   transition: all ease 0.2s;
}

a{
    text-decoration: none;
}

.allmovies{
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height:60vh;
}

.showmovies{
  display: block;
  font-size: 1em;
  text-transform: none;
  text-align: start;
}

.movie{
  display: inline-block;
  text-align: center;
  justify-content: center;
}
.hide{
  display: none;
}



.top{
  font-size: 10vh;
  text-align: center;
  font-family:'Fredericka the Great' ;
  color:  #4488dd;

}

.newmove{
  color:
  width: auto;
  background-color: white;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.eform{
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  color: #eee;
  text-align: center;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 0px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  text-align: center;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 30px;
}
.ic2 {
  text-align:

}
.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 10px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}


.homebtn{
  background-color: #08d;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 30%;
}

.newbtn{
  background-color: #08d;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 30%;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

.fa-heart-o {
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: red;
  cursor: pointer;
}

.showform {
      background-color: #0188ddb8;
      border-radius: 20px;
      box-sizing: border-box;
      height: 40em;
      padding: 20px;
      width: 30em;
    }
img{
  height:150px;
  margin: 1em;
}
